<div class="module">

    <div (click)="$event.preventDefault()">
        <!-- <p>Change quantity of tabs by manipulating tabs array</p> -->
        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="addNewTab()">
            Add new tab
        </button> -->
        <button type="button" class="btn btn-primary btn-sm" (click)="tabs = []" *ngIf="tabs.length">
            Remove all tabs
        </button>
        <hr />

        <tabset>
            <tab heading="Member List">
                <div class="module-body">
                    <dx-data-grid id="gridContainer" [dataSource]="tableData.data" [remoteOperations]="false"
                        [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
                        (onRowClick)="printDa($event.data)" [width]="'100%'">
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true"
                            [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                        <!-- view button -->
                        <dxi-column dataField="view" caption="view" cellTemplate="viewTemp"></dxi-column>
                        <dxi-column dataField="id" caption="ID" dataType="string"></dxi-column>
                        <dxi-column dataField="name" caption="Name" dataType="string"></dxi-column>
                        <dxi-column dataField="email" caption="Email" dataType="string"></dxi-column>
                        <dxi-column dataField="phone" caption="Phone" dataType="string"></dxi-column>
                        <dxi-column dataField="gender" caption="Gender" dataType="string"
                            cellTemplate="genderTemplate">
                        </dxi-column>
                        <dxi-column dataField="actions" caption="actions" cellTemplate="actionTemp"></dxi-column>

                        <div *dxTemplate="let g of 'genderTemplate'">
                            {{ g.value == 1 ? 'Male' : (g.value == 2 ? 'Female' : '') }}
                        </div>

                        <!-- view button  -->
                        <div *dxTemplate="let at of 'viewTemp'">
                            <a class="btn  btn-success btn-sm" title="Edit" (click)="addNewTab(at.row)">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                        </div>

                        <!-- actions -->
                        <div *dxTemplate="let at of 'actionTemp'">
                            <a class="btn btn-warning  btn-sm" routerLink="/survey/{{at.row.data.id}}/edit" title="Edit" (click)="editRow(at.row)">
                                edit
                            </a>
                            <a class="btn btn-danger btn-sm px-2s" title="Edit" (click)="deleteRow(at.row)">
                                delete
                            </a>
                        </div>

                    </dx-data-grid>

                </div>
            </tab>

            <tab *ngFor="let tabz of tabs; let i = index" [heading]="tabz?.content?.name" [active]="tabz.active"
                (selectTab)="selectTabHandler(i)" (deselect)="tabz.active = false" [disabled]="tabz.disabled"
                [removable]="tabz.removable" (removed)="removeTabHandler(tabz)"
                [customClass]="tabz.customClass">
                <p>name:{{tabz?.content?.name}}</p>
                <p>id:{{tabz?.content?.id}}</p>
                <p>email:{{tabz?.content?.email}}</p>
                <p>Phone:{{tabz?.content?.Phone}}</p>
                <p>Address:{{tabz?.content?.address}}</p>
                <p>Gender:{{tabz?.content?.Gender}}</p>
            </tab>
        </tabset>
    </div>

    <!-- <div class="module-head">
        <h3>Tables</h3>
    </div> -->

</div>